[user]
	email = evekolb2204@gmail.com
	name = thelooter
	signingkey = 1A0F9C37B3334D7F

[gpg]
        program = /home/thelooter/Documents/Scripts/GnuPG/gpg-no-tty.sh
[push]
	autoSetupRemote = true

[commit]
	gpgsign=true

[init]
	defaultBranch = main

[core]
	autcrlf = true
	pager = delta --dark --diff-highlight --line-numbers
        editor = nvim

[interactive]
        diffFilter = delta --color-only

[delta]
        navigate = true    # use n and N to move between diff sections
	light = false
	side-by-side = true
        syntax-theme = Catppuccin-frappe
	map-styles = bold purple => syntax magenta, bold cyan => syntax blue
	features = decorations
	true-color = always

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
	hunk-header-decoration-style = yellow box

[merge]
        conflictstyle = diff3

[diff]
	colorMoved = default

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
