[user]
	name = thelooter
	email = evekolb2204@@gmail.com
	signingkey = 1E52B058F96406C1
[safe]
	directory = /opt/flutter
[core]
	autocrlf = input
	pager = delta --line-numbers --dark
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
	diff = auto
	interactive = auto
	status = auto
	error = red bold
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	changeHunkIndicators = true
[delta]
	side-by-side = true

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[init]
	defaultBranch = main
[push]
  autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[commit]
	gpgsign = true
